@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --neobrutal-bg: #e6eef6;
  --neobrutal-outline: #111827;
}

/* Neobrutal card */
.neobrutal {
  background: var(--neobrutal-bg);
  border: 4px solid var(--neobrutal-outline);
  box-shadow: 8px 8px 0 var(--neobrutal-outline);
}

/* Utility for action buttons */
.neo-btn {
  @apply px-3 py-1 border-2 border-darkBorder rounded-sm bg-white;
}
